.heading {
   
    overflow: hidden;
    white-space: nowrap;
    animation: example 3s linear ;
  }
  
  @keyframes example {
    from {
      width: 0;
    }
    to {
      width: 400px;
    }
  }

  .heading1 {
   
    overflow: hidden;
    white-space: nowrap;
    animation: example1 2s linear 2s infinite alternate ;
  }
  
  @keyframes example1 {
    from {
      width: 0;
    }
    to {
      width: 400px;
    }
  }
.col-img{
  width: 40rem;
}
  @media only screen and (max-width: 600px) {
    .col-img {
      width: 25rem;
      padding:0px;
      display:flex;
      justify-content:left;
      
    }
    .form-size{
      width:25rem;
      
    }
    .form-size1{
      width:8rem;
      
    }
  }


 